.home {
    display: flex;
    margin-bottom: -3rem;
}

main {
    background-color: var(--body-color);
    overflow: -moz-hidden-unscrollable;
}

.main__content {
    height: 92vh;
    overflow-y: scroll;
}